* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.first_banner {
    background-image: linear-gradient(rgb(0, 0, 0, 0.3), rgb(0, 0, 0, 0.9)), url(images/donation13.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 80vh;
    background-position: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    width: 80%;
    text-align: center;
}

.header_title {
    color: white;
    font-size: 40px;
}

.gray_para {
    color: gray;
}

.btn {
    text-decoration: none;
    background-color: rgb(173, 16, 16);
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
}

.donate_today {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
}

.title_black {
    font-weight: 800;
    color: black;
    font-size: 30px;
}

.box_list {
    display: flex;
    gap: 25px;
}

.single_box {
    min-width: 120px;
    min-height: 140px;
    background-color: #FAFAFA;
    color: #707070;
    display: flex;
    align-items: center;
    justify-content: center;
}

.active {
    color: orangered;
    border: 2px solid #707070;
    border-radius: 5px;
    background-color: bisque;
}

.donate_input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
}

.donate_input input {
    min-width: 300px;
    border: none;
    border-bottom: 1px solid #707070;
    outline: none;
    padding: 15px 0px;
    text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}